@import 'variables';

.top-bar-spacer {
  height: 100px;
  width: 100%;
}
.top-bar-container {
  padding : 16px 2rem;
  background : $app-primary-base;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: 90px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
}

button { color : $font-color; }
