@import 'variables';

.box-container { border-radius: 0 4px 4px 0; }
.box {
  padding: 0.5rem;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  font-size: 50%;
  text-transform: uppercase;
  transition: background 250ms ease-out;

  &:first-child {
    border-radius: 4px 0 0 4px;
    border-right: none;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
    border-left: none;
  }
}
.box:hover,
.box.active {
  background: $app-accent-base;
  color: $background;
}
