<code><pre>{{ postList$ | async | json }}</pre></code>

<div *ngIf="postList$ | async; let postList">
  <app-post (click)="navigateTo(post.uid)" *ngFor="let post of postList.data" [post]="post"></app-post>

  <hr>
  <div *ngIf="postList.totalPages && postList.totalPages" class="pagination-container">
    <ul class="pagination">
      <li *ngFor="let page of postList.totalPages" [ngClass]="{ active: postList.currentPage === page+1}">
        <a (click)="navigateTo('page/'+ (page+1).toString())">--- {{page+1}} ---</a>
      </li>
    </ul>
  </div>
  <!-- /.pagination -->
</div>
