<div fxLayout="column" fxFlex>
  <mat-sidenav-container fxFlex fxLayout="row">
    <mat-sidenav #sidenav
                 fxFlex="30" fxFlex.lt-md="70" fxFlex.xs="85"
                 [mode]="sideNavMode" [opened]="sideNavOpened">
      <header>
        <app-sidebar></app-sidebar>
      </header>
    </mat-sidenav>

    <div class="content" fxFlex="auto" fxLayout="column">
      <app-top-bar [sidenavRef]="sidenav"
                   fxHide [fxHide.lt-md]="false" fxLayout="row"></app-top-bar>
      <!-- /.top-mobile -->
      <app-nav-bar></app-nav-bar>
      <router-outlet></router-outlet>
    </div>
    <!-- /.content -->
  </mat-sidenav-container>
</div>


