<div fxLayout="column" fxLayoutAlign="center" class="sidebar">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" class="logo-actions">
    <app-logo fxFlex></app-logo>
    <div fxFlex="30">language switcher</div>
  </div>

  <div class="mat-body-1">
    <p translate="appDescription">Sketch MTL est une communauté de designers digitaux axée sur l’apprentissage et l’entraide visant à rapprocher la scène de design montréalaise au travers d’évènements.</p>
  </div>
  <!-- /.mat-body-1 -->

  <div fxLayout="row" fxLayoutAlign="space-between center" class="socials">
    <button mat-icon-button><mat-icon svgIcon="facebook"></mat-icon></button>
    <button mat-icon-button><mat-icon svgIcon="twitter"></mat-icon></button>
    <a mat-button href="#">sketchmtl@gmail.com</a>
  </div>

  <button mat-raised-button color="accent" fxFill>
    <mat-icon svgIcon="slack"></mat-icon> Join our Slack channel</button>
</div>


