@import 'scss/variables';

html, body {
  margin         : 0;
  color          : $app-accent-base;
  display        : flex;
  flex-direction : column;
  font-family    : 'Karla', Helvetica Neue, Helvetica, Arial, sans-serif;
  height         : 100%;
}

a, a:hover, a:visited { color: $link-color; }

code {
  padding: 3px;
  background: rgba(0, 0, 0, 0.03);
  font-family: Roboto Mono, monospace;
  font-size: 90%;
}

mat-sidenav-content.mat-sidenav-content { height: auto; } // fix scroll issue
