// Custom colors.
$app-primary-base : #F5F5F5;
$app-accent-base : #EF5350;
$background : #FFFFFF;

html, body {
  margin         : 0;
  color          : $app-accent-base;
  display        : flex;
  flex-direction : column;
  font-family    : 'Karla', Helvetica Neue, Helvetica, Arial, sans-serif;
  height         : 100%;
}
