<code><pre>{{ eventList$ | async | json }}</pre></code>

<div *ngIf="eventList$ | async; let eventList">
  <app-event (click)="navigateTo(event.uid)" *ngFor="let event of eventList.data" [event]="event"></app-event>

  <hr>
  <div *ngIf="eventList.totalPages && eventList.totalPages" class="pagination-container">
    <ul class="pagination">
      <li *ngFor="let page of eventList.totalPages" [ngClass]="{ active: eventList.currentPage === page+1}">
        <a (click)="navigateTo('page/'+ (page+1).toString())">--- {{page+1}} ---</a>
      </li>
    </ul>
  </div>
  <!-- /.pagination -->
</div>
