.event-container {
  margin: 100px 0;
}

.event-category-title {
  text-transform : uppercase;
  font-weight: bold;
}

.event-detail-container {
  margin-bottom: 100px;
}

.event-list-container {

}
app-event-list-item { margin-bottom: 36px; }
